.inner.hero-inner {
    display: flex;
    align-items: center;
    height: 100vh;

    h1 {
        
        

        span.main-title_1 {
            color: #8766FF;
        }

        span.main-title_2 {
            color: #4F46E5;
        }

        span.main-title_3 {
            color: #61AAE5;
        }
    }

    p.txt {
        position: absolute;
        text-align: right;
        right: 2rem;
        bottom: 10rem;

        @media screen and (max-width:599px) {
            font-size: 1.6rem;
            // width:50%;
        }
                @media screen and (max-width:399px) {
                    display: none;
                }
    }

  
}